.hero-items{
    display:flex;
    justify-content: space-evenly;
}

.hero-items div{
    background-color: red;
    color:white !important;
}

.wave.depth-100.hero-items div{
    margin:170px 25%;
}

.wave.depth-70.hero-items div{
    margin: 170px -10%;
}

.wave.depth-50.hero-items div{
    color:red;
    margin: 150px 35%;
}

.hero-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}




