.hero-items{
    /* width: 100vw !important; */
    /* position: absolute; */
    /* font-size: 1000px !important; */
    display:flex;
    /* margin: auto; */
    justify-content: space-evenly;
    /* justify-content:center; */
}


.wave.depth-100.hero-items div{
    /* padding: 0 10%; */
    margin: 100px 25%;
    /* left:-10%; */
}

.wave.depth-70.hero-items div{
    margin: 30px -10%;
}

.wave.depth-50.hero-items div{
    color:red;
    margin: 0px 35%;
}